@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --primary-color: #2b3fa7;
  --secondary-color: #1b0072;
  --accent-color: #14b1ff;
  --text-dark: #090642;
  --text-light: #f8f9fa;
  --bg-light: #f8f9fa;
  --transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-light);
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

